<!-- views/partials/footer.ejs -->
<!-- Fixed Navbar -->
<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
    <span class="navbar-text">
        <i class="far fa-copyright"></i>&nbsp;CS2102 AY18/19 Semester 2 Team 56 Project
    </span>
</nav>