<div class="card mx-auto d-block text-center" style="width:18rem; border:0">
    <img src="images/tasks.png" class="card-img-top img-thumbnail" style="width:70%; border:0;">
    <div class="card-body">
        <h3 class="card-title">Oops!</h3>
        <h5 class="card-text">You haven't created any tasks!</h5>
    </div>
</div>