<div class="card mx-auto d-block text-center" style="width:18rem; border:0"></div>
    <div class="card-body">
        <h3 class="card-title">Oops!</h3>
        <h5 class="card-text">No tasks found! Try searching something else!</h5>
    </div>
</div>