<div class="card mx-auto d-block justify-content-center" style="width:18rem; border:0"></div>
    <div class="card-body">
        <h3 class="card-title text-center"><i class="fas fa-exclamation-circle"></i>&nbsp;Oops! No one else found!</h3>
        <h5 class="card-text text-center">Where are your friends? Aren't you lonely? Ask them to join you!</h5>
    </div>
</div>