<!DOCTYPE html>
<html>

<head>
  <%- include partials/htmlhead %>
</head>

<body>

  <header>
    <%- include partials/header %>
  </header>

  <main>    
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="display-4 text-light">we source, you score</h1>
        <p class="lead text-light">We are here to help you find people to do your chores for a small price.</p>
        <hr class="my-4">
        <p class="lead text-light">Start searching with us today!</p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-uppercase text-center text-white bg-primary">Employer</h2>
        </div>
        <div class="col-md-4">
          <h3>Post a Task</h3>
          <p>Create a post of what you need help with, with the relevant details and the amount you offer.</p>
        </div>
        <div class="col-md-4">
          <h3>Wait for a Match</h3>
          <p>You will be matched with the highest bidder for your task. </p>
        </div>
        <div class="col-md-4">
          <h2>Task Completed!</h2>
          <p>Your match will help you complete the task for a small price.</p>
        </div>
      </div>
      <hr>
    </div> <!-- /Employer container -->
    <div class="container">
      <!-- Employee explanation columns -->
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-uppercase text-center text-white bg-primary">Employee</h2>
        </div>
        <div class="col-md-4">
          <h3>Browse Tasks</h3>
          <p>Browse the list of tasks posted by people.</p>
        </div>
        <div class="col-md-4">
          <h3>Bid for Suitable Task</h3>
          <p>You can place a bid for the tasks you are interested in. Highest bidder wins!</p>
        </div>
        <div class="col-md-4">
          <h2>Task Completed!</h2>
          <p>Complete the task to receive your compensation.</p>
        </div>
      </div>
    </div> <!-- /container -->
    <hr>
  </main>

  <footer>
    <%- include partials/footer %>
  </footer>

  <%- include partials/htmlscripts %>

</body>

</html>